*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-base;
    font-weight: 400;
    color: $color-black;
    background-color: $color-white;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
    
ul, ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    font-family: inherit;
    cursor: pointer;
}