// Colores
$color-yellow: #FFDE58;
$color-black: #000000;
$color-white: #ffffff;

// Tipografía
$font-base: 'DM Mono', monospace;

// Medidas
$header-max-width: 819px;
$header-padding-y: .75rem;
$header-padding-x: 1.25rem;